name: sicap_ech-0290_local
#
# - builds ech-0290 artifcats.
# - Uses actions/upload-artifact@v4 to publish the artefacts.
# - Creates a local copy under "/output" (if /output is bound to local folder ".local-output")
# - Run it locally with nektos/act, follow the instructions at: https://nektosact.com/introduction.html
# - Configuration: place a .actrc file with the following content at the root of the project

### File .actrc (remove hashes)
#--container-options -v .\\.local-output:/output
#--artifact-server-path ./.dist
#--container-architecture linux/amd64
#-P ubuntu-latest=mauwii/ubuntu-act:latest
#-P ubuntu-22.04=mauwii/ubuntu-act:22.04
#-P ubuntu-20.04=mauwii/ubuntu-act:20.04
### End File .actrc

on:
  # push:
  #   paths:
  #     - 'ech-0290/input/**'
  workflow_dispatch:

jobs:
  ech-0290:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Clean output directory
        run: rm -rf ech-0290/output/*

      - name: Convert schema.yaml to schema.json
        run: |
          mkdir -p ech-0290/output
          gen-json-schema ech-0290/input/schema.yaml > ech-0290/output/schema.json

      - name: Convert schema.yaml to schema.ttl
        run: |
          mkdir -p ech-0290/output
          gen-owl ech-0290/input/schema.yaml > ech-0290/output/schema.ttl

      - name: Convert all data_*.yaml to data_*.json
        run: |
          mkdir -p ech-0290/output
          for yaml_file in ech-0290/input/data_*.yaml; do
            base_name=$(basename "$yaml_file" .yaml)
            linkml-convert -s ech-0290/input/schema.yaml -t json "$yaml_file" > "ech-0290/${base_name}.json"
          done

      - name: Convert data_*.yaml to data_*.ttl
        run: |
          mkdir -p ech-0290/output
          for yaml_file in ech-0290/input/data_*.yaml; do
            base_name=$(basename "$yaml_file" .yaml)
            linkml-convert -s ech-0290/input/schema.yaml -t rdf "$yaml_file" > "ech-0290/output/${base_name}.ttl"
          done

      - name: Generate LinkML documentation
        run: |
          mkdir -p ech-0290/output/docs
          gen-doc ech-0290/input/schema.yaml --directory ech-0290/output/docs
      - name: Merge Markdown documentation
        run: python merge_documentation.py ech-0290
      - name: Install Pandoc
        run: sudo apt update && sudo apt install -y pandoc

      - name: Convert Markdown to Word with Pandoc
        run: |
          mkdir -p ech-0290/output
          pandoc ech-0290/output/documentation_merged.md \
          -o ech-0290/output/ech-0290.docx \
          --reference-doc=ech-0290/input/template.docx

      - name: Write output directly
        env:
          CPIN: ech-0290/output/
          CPOUT: /output/ech-0290          
        run: |
          mkdir -p $CPOUT
          echo "Copying" $CPIN "to" $CPOUT.
          cp -a $CPIN. $CPOUT          

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ech-0290
          path: ech-0290/output/
